<a href="https://colab.research.google.com/github/knewhy/Project/blob/master/formultiply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
multiplier = range(0,13)
mul = 2
for i in multiplier:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [22]:
for i in multiplier:
    print(str(mul) + " x " + str(i) + " = " + str(2*i))

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24